body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}
.unordered{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content:space-between; 
   
}

.logo{
   margin-right: 600px;
}
.home a{
    color: green;
}
.unordered a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar .home {
    color: green;
}
.imagecon{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}
.imagecon img{
    height: 70vh;
    width: 100%;
    object-fit: contain;
}
.hero{
    height: 100vh;
}
.bodycon{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    height: 80vh;
    font-weight: 900;
    font-size: 30px;
    margin: 0px;
}
.tasty{
    font-size: 50px;
    margin: 0px;
    color: green;
}
.btn{
    color: white;
    background-color: green;
    border: 1px solid green;
    padding: 10px;
    border-radius: 6px;
}
.about-imagecon{
    width: 400px;
    height: 400px;
    margin-right: 40px;
}
.about-imagecon img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
   
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
    height: 80vh;
    margin: 0px;
    
}
.about-text {
    font-size: 20px;
    width: 300px;
    margin: 0px;
}
.about-text p{
    margin: 0px;
}
.about-text .p1 {
    color: green;
}
.about-tasty {
    font-size: 40px;
    font-weight: 500;
}

.box img{
    color: green;
}
.serve{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.dish {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
    width: 250px;
    height: 250px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.box {
    width: 70px;
    height: 70px;
}
.box img{
    width: 100%;
    height: 100%;
}
.bod p{
    margin: 20px;
    text-align: center;
}
.off{
    color: green;
    font-size: 30px;
    
}
.amaze{
    font-size: 50px;
    font-weight:bold;
}
.excel p{
    font-weight: bolder;
    font-size: 30px;
}
.textt p{
    text-align: center;
}
.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
   
}
.service-container{
display: flex;
flex-direction: column;
gap: 80px;
justify-content: center;
}

.menu-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}
.food-box{
    padding: 40px;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}
.food{
    width: 100px;
    height: 100px;
}
.food img{
    width: 100%;
    height: 100%;
}
.menu-intro{
    text-align: center;
}
.special,
.talk{
    color: green;
    font-size: 20px;
}
.week
{
    font-size: 40px;
margin: 0px 10px 30px  10px;
    font-weight: 500;
}
.food-text,
.cost,
.vices{
    font-weight: bold;
}
.delicious,
.rest{
    opacity: 0.7;
}
.cart{
   position: absolute;
   bottom: 0px;
   right: 0px;
   padding: 10px;
   color: white;
   background-color: green;
   border-radius: 10px 0px;
}
.contact{
    display: flex;
    justify-content: space-between;

}
.cont{
font-size: 40px;
}
.reserve{
    font-size: 20px;
}
.contact-btn{
    background-color: green;
    padding: 20px;
    font-size: 20px;
    border: 0px;
    color: white;
    border-radius: 8px;
}
.contact-text{
    width: 600px;
    height: 60vh;
}
.contact-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}
section.contact-us{
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
}
.icons{
    display: flex;
    gap: 10px;
}
.tasty-food{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style:none;
    text-align: center;
}
.tasty-text{
    color: green;
    margin: 0px;
}
.vices{
    font-size: 20px;
    margin: 0px;
}
.foot{
    text-align: center;
    margin-top: 30px;
    opacity: 0.4;
}
.c{
    font-size: 5px;
    border: 1px solid ;
    border-radius: 50%;
    padding: 3px;
    
}
@media screen and (max-width:700px){
    .unordered {
            display: flex;
            flex-direction: row;
            
            margin-right: 10px auto;
            justify-content: space-evenly;
        }
        .cont-nav{
            display: none;
        }
                 .text {
                     align-items: center;
                     height: 50vh;
                 }
    .hero{
        
        height: 100vh;
    }
        .logo {
            margin-right: 0px;
        }
        .bodycon {
            display: flex;
            flex-direction: column;
           
        }
       
          .text p{
text-align: center;
          }
                
          .imagecon {
              width: 300px;
              height: 300px;
          }
    
          .imagecon img {
              height: 100%;
              width: 100%;
              object-fit: cover;
          }
        
        .about-imagecon {
            margin-top: 40px;
            width: 300px;
            height: 300px;
            margin-right: 0px;
        }
        .about-text {
            font-size: 30px;
            height: 60vh;
                  }

        .service-container {
                     display: flex;
                     flex-direction: column;
                     gap: 10px;
                     justify-content: center;
                     align-items: center;
                 }
        
        .menu-container {
                     display: flex;
                     justify-content: center;
                     gap: 20px;
                     margin-bottom: 0px;
                 }
       
        .bod p {
            margin: 20px;
            text-align: center;
        }

     .amaze {
        font-size: 40px;
    }
    .serve {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 30px; 
    }
    .special
    {
        
       font-size: 30px;
    }

    .menu-intro {
        margin-top: 200px;
        text-align: center;
    }
   
    .menu-container {
        display: flex;
        flex-direction: column;
        gap:30px;
        margin-bottom: 30px;
    }
    .food-box {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: 0 auto;
        height: 30vh;
        width: 200px;
        align-items: center;
        justify-content: center;
    }
      
.contact {
    display: flex;
    flex-direction: column;
}
.contact-text {
    margin: 0 auto;
    width: 300px;
    height: 10vh;
}
.contact-btn {
    background-color: green;
    padding: 20px;
    font-size: 20px;
    border: 0px;
    margin: 0 auto;
    color: white;
    border-radius: 8px;
}
.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}
.tasty-food {
    display: flex;
    flex-direction: column;
    gap:30px;
    margin: 0px;
    align-items: center;
    justify-content:center;
}
.tasty-text {
   font-size: 40px;
}
.rest{
    text-align: center;
    font-size: 30px;
}

.cont,
.reserve{
    text-align: center;
    margin:  auto;
}

.list{
    text-align: center;
}
.ser-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 20px;
}
.talk {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;

}
.icons{
    justify-content: center;
}

}